/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/

/* primary : #002453 */
/* secondary : #fa5402 */

html,
body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;

}

p {
    margin: 0;
    color: #777;
    font-size: 15px;
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

ul,
label {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
    outline: none;
}

body a:hover {
    text-decoration: none;
}


/*-- header --*/

.header-grid-left ul li a,
.new-collections-grid1-image-pos a,
.new-collections-grid1 h4 a,
.login a,
.register-home a,
.checkout-right-basket a,
.bootstrap-tab-text-grid-right ul li a,
.occasion-cart a,
input[type="submit"],
.mail-grid-right1 ul li a,
.categories ul li a,
.new-products-grid-right-add-cart p a,
.new-products-grid-right h4 a,
.products-right-grid1-add-cart p a,
.timer-grid-left h3 a,
.new-collections-grid1-left p a,
.copy-right p a,
.footer-grid-sub-grid-right h4 a,
input[type="submit"],
.footer-grid ul li a {
    transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
}

.w3layouts-header{
    background: #fff;
    margin: 0.2em 0;
}
.heading-text{
    color: #002453;
}
.header-grid {
    padding: 1em 0;
    border-top: 1px solid #DEDEDE;
    background: #fff;
    float: right;
}

.logo-nav-agileits {
    padding: 0px 0;
}

.header-grid-left-wthree {
    float: right;
    width: 65%;
    /*-webkit-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    -moz-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);*/
    padding: 30px 0px;
    /*border-style: solid;
    border-width: 1px 0 0 1px;
    border-color: #e4e4e4;*/
}

.header-grid-left-wthree ul li {
    display: block;
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
}
.header-grid-left-wthree ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}

.header-grid-left ul li a:hover {
    color: #1da1f2;
}

.header-grid-right {
    float: right;
}

.h3-title h3 {
    float: left;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    margin-right: 20px;
    color: #444444;
}

.header-grid-left-wthree ul {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #febf00;
}
.logo-nav-left {
    float: left;
    border-top: none;
    margin: 0px 0 0;
    padding: 10px 20px 10px;
    text-align: center;
    position: relative;
}

.logo-nav-left h1 a {
    font-size: 30px;
    color: #031f9a;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    font-family: 'Noto Serif', serif;
}

.logo-nav-left h1 a span.fa {
    padding: 6px;
    font-size: 49px;
    top: -36px;
    background: #fff;
    left: 5px;
    position: absolute;
    color: #031f9a;
}

.header-grid-left-wthree ul li span.fa {
    margin-right: 10px;
    font-size: 15px;
    color: #c9333c;
}

span.logo-title {
    display: block;
    letter-spacing: 2px;
    font-size: 13px;
    margin-top: 5px;
    font-weight: 600;
    color: #031f9a;
    text-transform: uppercase;
}

span.sub-title {
    color: #fff;
    display: inline-block;
    width: 100px;
    height: 4px;
    background-color: #fff;
    margin: 0px 13px;
    /* transform: rotate(45deg); */
}

.logo-nav-left1 ul li a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}
.navbar-nav > li:nth-child(7) {
}
.navbar-nav > li {
    float: left;
    text-align: center;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
}

.logo-nav-left1 ul li.active a.act {
    color: #1da1f2;
}

.multi-column-dropdown li a {
    color: #fff !important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: #c9333c;
    color: #ffffff !important;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    color: #d8703f;
}

.navbar-default {
    background: none;
    border: none;
    margin: 0em 0 0;
    min-height: auto;
}

.navbar-collapse {
    padding: 0;
}

.dropdown-menu li a {
    color: #fff;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #fff;
    color: #031f9a;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    background: none;
    border: none;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
    background-color: #fa5402;
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: #fa5402;
}

li.active {
    background: #002453;
}

li.active a {
    color: #006eb7 !important;
}

ul.nav.navbar-nav {
    background: #002453;
    float: none;
    border-left: 1px solid #002453;
}

li.dropdown-menu {
    border: none;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #031f9a;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}


/*--search--*/

ul li.s-bar {
    background: #c9333c;
    padding: 12px 11px 16px 12px;
    border-left: 1px solid #444444;
    float: right;
}

.search label.icon-search {
    color: #212121;
    cursor: pointer;
}

.search_form {
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 15px;
    overflow: hidden;
    width: 20px;
    height: 0px;
    background: #595959;
    transition: height 0.2s ease-out 0.5s, top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
    -webkit-transition: height 0.2s ease-out 0.5s, top 0.2s ease-out 0.5s, padding 0.2s ease-out 0.5s, width 0.3s ease-out 0.2s;
}

.search_form form {
    opacity: 0;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

.search_form input[type='search'] {
    width: 353px;
    padding: 6px;
    outline: none;
    font-size: 14px;
    color: #555;
    border: 1px solid #fff;
    background: #fff;
}

.search_form input[type='search']::-webkit-input-placeholder {
    color: #fff !important;
}

.search_form input[type='submit'] {
    outline: none;
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: .5px;
    background: #c9333c;
    border: none;
    text-transform: uppercase;
    padding: 7px 25px;
    font-weight: 600;
}

.search_form input[type='submit']:hover {
    background: #046acf;
    color: #fff;
}

.search_box {
    visibility: hidden;
}

.search_box:checked~.search_form {
    width: 500px;
    height: 53px;
    padding: 10px;
    top: 52px;
    transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
    -webkit-transition: height 0.2s ease-out, top 0.2s ease-out, padding 0.2s ease-out, 0.3s width ease-out 0.2s;
}

.search_box:checked~.search_form form {
    opacity: 1;
    transition: 0.3s all ease-out 0.5s;
    -webkit-transition: 0.3s all ease-out 0.5s;
}

label.icon-search span {
    color: #ffffff;
    font-size: 1.2em;
    padding-right: 12px;
    cursor: pointer;
}


/*--//search--*/


/*-- //banner --*/


/*-- banner-top --*/

.banner-info {
    padding: 13em 0 0em;
    text-align: center;
}

.banner-top1 {
    background: url(../images/bg1.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.banner-top2 {
    background: url(../images/bg2.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.banner-top3 {
    background: url(../images/bg3.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.banner-top1,
.banner-top2,
.banner-top3 {
    min-height: 578px;
}

.banner-info h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.banner-info.info2 h3 {
    text-shadow: 0px 0px 0px #031f9a;
    color: #fff;
}

.banner-info p {
    color: #febf00;
    font-size: 16px;
    letter-spacing: 5px;
    font-weight: 600;
    text-transform: uppercase;
}

.bg3 {
    text-align: center;
}


/* //banner */

.w3ls-section {
    padding: 4em 0;
}


/* footer */

.logo-nav-left h2 a {
    font-size: 30px;
    color: #031f9a;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    font-family: 'Noto Serif', serif;
}

.logo-nav-left h2 a span.fa {
    padding: 6px;
    font-size: 49px;
    top: -36px;
    left: 5px;
    position: absolute;
    color: #031f9a;
}


/*-- //fixed social icons --*/

span.logo-ftr {
    background: #fff;
}

.footer-social {

}

.footer-top {
    padding-bottom: 1em;
}

.footer-social ul li {
    display: inline-block;
}

span.icon_twitter {
    background: #1da1f2;
}

span.icon_facebook {
    background: #3b5998;
}

span.icon_dribbble {
    background: #ea4c89;
}

span.icon_g_plus {
    background: #dd4b39;
}

.footer-social ul li a {
    color: #212121;
}

.footer-social ul li span {
    margin-right: 10px;
    color: #fff;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 15px;
    text-align: center;
}

.footer-social ul {
    padding: 0px;
    -webkit-transform: translate(0px, 0);
    -moz-transform: translate(0px, 0);
    -ms-transform: translate(0px, 0);
    -o-transform: translate(0px, 0);
    transform: translate(0px, 0);
}

.footer-social ul li a {
    color: #212121;
}

.footer-social ul li:hover a {
    color: #fff;
    text-decoration: none;
}


/*-- //fixed wthree-social icons --*/

.footer-bottom {
    padding: 1em 0 3em;
}

.footer-grid1 h4,
.agileinfo-subscribe-grid h4,
.blog-text h5 {
    color: #ffffff;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.agileinfo-subscribe-grid h4 {
    display: inline;
}

.footer-social h4 {
    color: #031f9a;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 20px;
}

.footer-grid1 ul li {
    margin: 10px 0;
}

.footer-grid1 ul li span {
    font-size: 1em;
    margin: 0px 15px 0 0;
}

.footer-grid1.address ul li span {
    font-size: 16px;
    margin: 0px 15px 0 0;
    color: #c9333c;
    background: #fff;
    width: 29px;
    height: 28px;
    padding: 6px 7px;
    border-radius: 3px;
}

.footer-grid1 ul li a {
    color: #fff;
}

.footer-grid1 p,
.footer-grid1 a {
    display: inline;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: capitalize;
}

.agileinfo-subscribe-grid p {
    color: #fff;
    font-weight: 600;
    font-size: 19px;
}

.footer-main-w3_agile {
    background: #595959;
    background-size: cover;
}

.footer-dot {
    background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
    padding: 3em 0 0;
}

.agileinfo-subscribe-grid img {
    width: 8%;
}

.agileinfo-subscribe-grid input[type="email"] {
    display: inline-block;
    background: #ffffff;
    border: none;
    width: 71%;
    outline: none;
    padding: 15px;
    font-size: 1em;
    color: #444;
    letter-spacing: 1px;
}

.agileinfo-subscribe-grid i.fa.fa-paper-plane-o {
    color: #FFFFFF !important;
    font-size: 1.2em !important;
}

.agileinfo-subscribe-grid form {
    width: 60%;
    margin: 30px auto 0;
}

.agileinfo-subscribe-grid button.btn1 {
    color: #ffffff;
    font-size: 1em;
    width: 28%;
    letter-spacing: 1px;
    border: none;
    outline: none;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    background: #c9333c;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.agileinfo-subscribe-grid {
    border: solid #c9333c;
    border-width: 0px 4px 0px;
    border-radius: 10px;
    padding: 20px 0 40px;
    background: rgba(0, 0, 0, 0.51);
}

button.btn1:hover {
    color: #ffffff;
}

button.btn1:hover i.fa.fa-paper-plane-o {
    color: #2f2f2f !important;
}

.agile-info-subscribe.text-center p {
    color: #fff;
    letter-spacing: 1px;
    margin: 1em 0 0;
}

.cpy-footer {
    padding: 0em 0 0;
}

.cpy-text {
    background: #031f9a;
    margin: 20px 0 0;
}

.cpy-text {
    background: #3e3e3e;
    margin: 0px 0 0;
}

.cpy-text p {
    text-align: center;
    padding: 1em 0;
    color: #fff;
    letter-spacing: 1px;
}

.cpy-text p a {
    color: #fff;
}

.footer-grid1.ftr-img li {
    display: inline-block;
    width: 12%;
    margin: 2px;
}


/* //footer */

label.contact-form-text {
    font-size: 1.2em;
    margin: 1em 0 0.5em;
    color: #ffffff;
    font-weight: 500;
}

.agileinfo-contact-main-address span {
    color: #ff0000;
}

.icon2 {
    margin-bottom: 1em;
}

label.header span {
    color: #fd1707;
}

.banner_form input[type=text] {
    padding: 0.70em 1em;
    color: #000;
    width: 100%;
    font-size: 1.2em;
    outline: none;
    border: 1px solid #ffffff;
    background: #ffffff;
    font-weight: 600;
    border-radius: 2px;
}

.banner_form input[type="email"] {
    width: 100%;
    padding: 0.70em 1em;
    color: #000;
    font-size: 1.2em;
    outline: none;
    border: 1px solid #ffffff;
    background: #ffffff;
}

.form-select select {
    border: none;
    outline: none;
    font-size: 0.9em;
    background: url(../images/icon.png) no-repeat 95% center #ffffff;
    width: 100%;
    padding: 0.9em 1.5em;
    color: #000;
    -webkit-appearance: none;
    border: 1px solid #ffffff;
    font-weight: 600;
}

.banner_form input[type="submit"] {
    width: 27%;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 1em;
    font-weight: 600;
    padding: 0.7em 10px;
    letter-spacing: 1px;
    border: none;
    background: #595959;
    margin-top: 20px;
}

.banner_form input[type="submit"]:hover {
    color: #1853a1;
    background: rgb(255, 255, 255);
}

.banner-btm {
    margin-top: 2%;
    margin-bottom: 3%;
}

.banner-btm-grid2 {
    padding: 0;
}

.banner-btmg1,
.w3layouts-reg-form {
    background: #002453;
    padding: 2.5em;
    width: 45%;
}

.banner-subg1 {
    background: #272727;
    padding: 4em 2em;
    position: relative;
    text-align: center;
    margin-bottom: 2.6em;
}

.banner-btmg1 h3 {
    font-size: 24px;
    color: #ffffff;
}

.banner-subg1 h3,
.about-bottom h5 {
    color: #ffffff;
    font-size: 25px;
    text-transform: capitalize;
}

.about-bottom h5 {
    color: #FFF;
}

.w3ls-about-bottom h5 {
    color: #031f9a;
    font-weight: 600;
}

.banner-grid2 {
    margin: 0 0 0 2.6em;
    padding: 0;
}

.banner-grid2:last-child {
    margin: 0 0 0 2em;
}

.banner-subg1:last-child {
    margin-bottom: 0;
}

.banner-subg1 span.fa {
    font-size: 90px;
    color: #ffffff;
    opacity: 0.1;
    position: absolute;
    top: 38px;
    left: 8%;
}

.banner-subg1 p {
    color: #fff;
    width: 86%;
    margin: 26px auto;
}

.form-text {
    position: relative;
}

/*.banner-btmg1 img {*/
    /*position: absolute;*/
    /*right: -30px;*/
    /*width: 28%;*/
    /*top: -1px;*/
/*}*/

.form-text p {
    color: #fff;
    margin-top: 5px;
}

.banner_form {
    margin: 20px 0 0;
}

.form-tx textarea {
    font-size: 1.2em;
    color: #000;
    padding: 0.75em 1em;
    width: 100%;
    outline: none;
    resize: none;
    height: 3em;
    border: 1px solid #ffffff;
    background: #ffffff;
}

.read-btn a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 4px 16px;
    font-size: 15px;
    text-transform: capitalize;
    background: transparent;
    border: 2px solid #fff;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    border-radius: 0px;
}


/*-- //banner-bottom --*/


/*-- about --*/

.agile-about-main {
    background: #da4d07;
    margin: 0px;
}

.about-left {
    background: url(../images/about.jpg) no-repeat center;
    background-size: cover;
    padding: 0;
}

.about-left,
.about-main-bg {
    min-height: 498px;
}

.about-main-bg {
    background: rgba(41, 41, 41, 0.70);
    padding-top: 150px;
}

h4.about-title {
    font-size: 7em;
    font-weight: bold;
    color: #ffffff;
}

h4.sub {
    font-size: 50px;
    font-weight: bold;
    color: #ffffff;
    text-transform: capitalize;
}

h4.sub span {
    color: #da4d07;
}

.about-bottom {
    float: left;
    margin-left: 3em;
    width: 80%
}

.about-bottom p {
    color: #000;
    margin-top: 10px;
    font-size: 15px;
}

.about-bottom-right {
    margin-bottom: 30px;
}

.about-bottom-g1 {
    padding: 3em 3em 1em;
}

.abouthome-grid {
    float: left;
}

.hi-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    color: #ffffff;
    background: #00AFF0;
    border: 3px solid #00AFF0;
}

.hi-icon:before {
    font-size: 1.5em;
    display: block;
    line-height: 2.12em;
}

.about-bottom-g1 h4,
.stats h5 {
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
}

.about-grid {
    margin: 40px 25px 0;
    float: left;
    width: 65%;
}

.abt-img {
    padding: 3em 0 0;
    float: left;
    width: 20%;
}


/*-- //about --*/

.banner-bg2 {
    background: url(../images/bg1.jpg) no-repeat center;
    background-size: cover;
    min-height: 460px;
}


/*-- breadcrumbs --*/
.breadcrumbs-w3l {
    background: #f2f2f2;
    padding: 15px 20px;
    margin: 0px;
}

span.breadcrumbs {
    color: #000;
    font-size: 15px;
}

span.breadcrumbs a {
    color: #031f9a;
    margin: 0 5px;
    font-size: 15px;
    font-weight: 600;
}

span.breadcrumbs span {
    padding: 0 5px;
}

span.breadcrumbs a:hover {
    text-decoration: underline;
}

h4.main-title {
    font-size: 32px;
    text-transform: capitalize;
    font-weight: bold;
    color: #c9333c;
    text-align: center;
}

.about-inner-main,
.services-main {
    margin-top: 50px;
}


/*-- checkbox --*/

.wthree-text {
    margin-top: 20px;
}

.wthree-text ul li {
    display: inline-block;
}

.wthree-text label {
    font-size: 1em;
    color: #fff;
    letter-spacing: 0.5px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}

input.checkbox {
    background: #ffcd30;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    margin: 0 5px 0 0;
    vertical-align: text-bottom;
}

input.checkbox:before {
    content: "";
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    background: inherit;
    cursor: pointer;
}

input.checkbox:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #000;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

input.checkbox:checked:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 1.2em;
    border-color: #000;
    border-top-color: transparent;
    border-right-color: transparent;
}

.anim input.checkbox:checked:after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .6em;
    border-color: transparent;
    border-right-color: transparent;
    animation: .4s rippling .4s ease;
    animation-fill-mode: forwards;
}

@keyframes rippling {
    50% {
        border-left-color: #000;
    }
    100% {
        border-bottom-color: #000;
        border-left-color: #000;
    }
}


/*-- //checkbox --*/

.w3layouts-reg-form .form-tx textarea {
    height: 8em;
}

.w3layouts-reg-form .banner_form {
    margin-top: 0;
}

.w3layouts-reg-form p {
    color: #fff;
    letter-spacing: 1px;
    font-size: 16px;
}

.w3layouts-reg-form .form-select.sec-right {
    width: 48%;
    float: right;
}

.w3layouts-reg-form .form-select.sec-left {
    width: 48%;
    float: left;
}

.register-right h6 {
    color: #031f9a;
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 600;
}

.register-right .banner_form {
    margin-top: 0;
}

.register-right a {
    font-size: 15px;
    text-transform: capitalize;
    margin: 26px 0 0;
    display: inline-block;
    text-decoration: underline;
    color: #031f9a;
    letter-spacing: 0.5px;
}

.app-head {
    background: #febf00;
}

.app-main span {
    color: #ff0000;
}

.app-main h6 {
    font-size: 31px;
    text-transform: capitalize;
    font-weight: 600;
    color: #031f9a;
}

.app-links li img {
    width: 22%;
}

.app-links li {
    display: inline;
}

.app-form {
    width: 70%;
    margin: 25px 0;
}

.app-form .banner_form {
    margin-top: 0;
}

.app-form p {
    text-transform: capitalize;
    margin: 10px 0;
    font-size: 16px;
    color: #000;
    font-weight: 600;
}

.app-form input[type="text"] {
    width: 70%;
    float: left;
}

.app-form input[type="submit"] {
    width: 30%;
    float: right;
    margin-top: 0;
    background: #031f9a;
    padding: 10px;
    color: #fff;
    border: 1px solid #000;
}

.app-mobile img {
    width: 90%;
}

.app-main {
    margin-top: 5em;
    padding-left: 3em;
}


/*-- //register --*/


/*-- services--*/

.serv-grid1 {
    background: url(../images/service.jpg) no-repeat center;
    background-size: cover;
    min-height: 435px;
    padding: 160px 25px 0;
    text-align: center;
}

h4.sub1 {
    font-size: 33px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1.5;
}

.serv-sub1 {
    text-align: center;
}

.serv-sub1 img {
    width: 60%;
}

.serv-sub1 h5 {
    color: #031f9a;
    margin: 21px 0 10px;
    font-size: 19px;
    font-weight: 600;
    text-transform: capitalize;
}

.serv-sub1 {
    width: 30%;
    margin: 20px 10px 0;
    -webkit-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    -moz-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    padding: 20px;
}

.serv-sub1:nth-child(3),
.serv-sub1:nth-child(6) {
    margin-right: 0;
}

.serv-bottom {
    padding-bottom: 2em;
}


/*-- //services--*/


/*-- plans--*/

.pricing_grid_content {
    padding: 0em 2em 3em;
    border-radius: 10px;
    text-align: center;
    background: #031f9a;
}

.pricing_grid_content ul li {
    list-style-type: none;
    padding: 1em;
    border-bottom: 1px dotted #c1c1c1;
    font-size: 14px;
    color: #fff;
}

.pricing_grid_content ul li p {
    color: #fff;
}

.pricing_grid_content ul li span.fa {
    margin-right: 25px;
    color: #febf00;
    font-size: 16px;
    font-weight: normal;
}

.pricing_grid_content a {
    display: block;
    margin: 2em auto 0;
    background: #fff;
    padding: 0.7em 0;
    color: #031f9a;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}

ul.w3_count {
    text-align: left;
}

.pricing_grid_content a:hover {
    background: #febf00;
}

.pricing_grid_content span {
    font-size: 1.5em;
    color: #ffffff;
    font-weight: 600;
}

ul.w3_count li p {
    display: inline;
}

.pricing_grid_content h5 {
    color: #031f9a;
    background: #febf00;
    font-size: 23px;
    text-transform: capitalize;
    padding: 10px;
    font-weight: 600;
    border-radius: 0px 0px 10px 10px;
    border-top: 15px solid #fff;
}

sup {
    color: #fff;
}

span.counter.agile_counter label {
    display: inline;
    color: #b7b6b5;
    font-size: 14px;
}

.pricing_grid_content h3 {
    margin: 20px 0 8px;
    color: #fff;
}

.w3_agile-plan-grid {
    padding: 0 2em;
}


/* plans */

.contact-bottom iframe {
    width: 100%;
    height: 335px;
    padding-top: 15px;
}

.contact-form-left {
    width: 100%;
    float: left;
}

.contact-form-right {
   width: 100%;
}

.contact-form-right input[type="submit"] {
    width: 100%;
    font-size: 13px;
    padding: 15px 10px;
    letter-spacing: 1px;
    display: inline-block;
    width: 100%;
}

.agile-contact-top {
    background: #031f9a;
    padding: 12px;
    text-align: center;
}

.agile-contact-top h4,
h4.form-con-txt {
    font-size: 25px;
    color: #fff;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.agile-contact-top p {
    color: #c1bfbf;
    margin: 6px 0 3px;
}


/*-- gallery starts here --*/


/* overlay - centered modal dialog*/

.overlay-visible {
    overflow: hidden !important;
}

#cm-overlay-mask,
#cm-wrap {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9991;
    text-align: center;
    /* IE<9 support hack */
}


/* chrome bug fix causing overlay-mask to not appear
@media screen and (-webkit-min-device-pixel-ratio:0) {
#cm-overlay-mask
{
    overflow:scroll;
}
#cm-overlay-mask::-webkit-scrollbar
{
    width:0px;
}}*/

#cm-wrap {
    visibility: hidden;
    white-space: nowrap;
}

#cm-wrap * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

#cm-wrap .cm-box,
#cm-wrap .cm-scale {
    white-space: normal;
    vertical-align: middle;
    position: relative;
    display: inline-block;
}

#cm-wrap .cm-scale {
    height: 100%;
    line-height: 100%;
    width: 0;
}

#cm-wrap .cm-box img,
#cm-wrap .cm-box iframe {
    display: block;
}


/* customise mask colour */

#cm-overlay-mask {
    background-color: #000000;
}


/* customise loader GIF */

#cm-wrap {
    background: none;
}

#cm-wrap.cm-loaded {
    background-image: none;
}


/* overlay border and shadow */

#cm-overlay {
    -webkit-box-shadow: 0 0 90px #000;
    -khtml-box-shadow: 0 0 90px 5px #000;
    -moz-box-shadow: 0 0 90px 5px #000;
    box-shadow: 0 0 90px 5px #000;
    /**/
    opacity: 0;
    z-index: 9992;
}


/* close link style */

#cm-wrap #cm-close {
    display: block;
    height: 61px;
    width: 59px;
    position: absolute;
    right: 0;
    top: 0;
    background: transparent url(../images/close.png) scroll no-repeat center center;
    cursor: pointer;
    z-index: 9993;
    text-indent: -999em;
    opacity: 0.5;
}


/* prev and next buttons */

#cm-wrap #cm-prev,
#cm-wrap #cm-next {
    display: block;
    position: absolute;
    height: 97px;
    width: 49px;
    top: 50%;
    margin-top: -63px;
    text-indent: -999em;
    opacity: 0.5;
    outline: none;
    z-index: 9993;
}

#cm-wrap #cm-prev {
    left: 0;
    background: transparent url(../images/prev.png) scroll no-repeat 0 center;
}

#cm-wrap #cm-next {
    right: 0;
    background: transparent url(../images/next.png) scroll no-repeat 100% center;
}

#cm-wrap #cm-prev:hover,
#cm-wrap #cm-next:hover,
#cm-wrap #cm-close:hover {
    opacity: 1;
}


/* tooltip for close link (jquery tools) */

.tooltip {
    text-align: center;
    font-family: sans-serif;
    color: #eee;
    background: #000;
    padding: 10px;
    border: 1px solid #eee;
    z-index: 99999;
    font-size: 12px;
    background: #000;
    border: 1px solid #eee;
}

.tooltip:after,
.tooltip:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.tooltip:after {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #000;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
}

.tooltip:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    left: 50%;
    margin-left: -11px;
}

@media (max-width: 640px) {
    #cm-wrap .cm-box img,
    #cm-wrap .cm-box iframe {
        display: block;
        width: 80%;
        margin: 0 auto;
        height: inherit;
    }
    #cm-overlay {
        border: none;
    }
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #fff;
    cursor: default;
    background: #031f9a;
    color: #fff !important;
}

.nav-tabs>li>a {
    font-size: 15px;
    border: solid 1px #dadada;
    border-radius: 0;
    color: #031f9a;
    text-decoration: none;
    padding: 10px 15px;
    letter-spacing: 0.5px;
    font-weight: 600;
}

.nav-tabs>li>a:focus {
    background: transparent;
}

.nav-tabs {
    border-bottom: none;
    margin: 0 0 4em;
    text-align: center;
}

.nav-tabs>li {
    margin: 0 5px;
    float: none;
    display: inline-block;
}

.nav-tabs>li>a:hover {
    color: #FFFFFF;
    background: #031f9a;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
    border-color: #337ab7;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    text-decoration: none;
}

.w3_tab_img_left {
    padding: 0;
}


/*-- //gallery ends here --*/

.quotes img {
    width: 100%;
}

p.w3l {
    font-size: 14px;
    color: #fff;
    margin: 0 auto;
    line-height: 28px;
}

.de_testi_by,
.de_testi_by a {
    color: #031f9a;
    font-size: 15px;
}

.de_testi {
    margin: 0;
    padding: 3em 2em;
    font-style: normal;
    line-height: 1.6em;
    font-weight: 400;
    text-align: left;
    color: #fff;
    font-size: 0.96em;
}

.quotes {
    width: 15%;
    margin: 0 auto;
    border-style: solid;
    border-color: rgba(254, 191, 0, 0.74);
    border-width: 8px 8px;
    padding: 10px;
    background: #efefef;
}

.de_testi_by p {
    font-size: 16px;
    width: 50%;
    margin: 0 auto 1em;
}

.de_testi_by {
    padding: 3em;
    text-align: center;
    -webkit-box-shadow: 8px 9px 10px 0px rgba(181, 181, 181, 0.78);
    -moz-box-shadow: 8px 9px 10px 0px rgba(181, 181, 181, 0.78);
    box-shadow: 8px 9px 10px 0px rgba(181, 181, 181, 0.78);
    background: #efefef;
}

.de_testi_by h6 {
    color: #e21111;
    font-size: 22px;
    text-transform: capitalize;
    margin-bottom: 18px;
}


/* //client /
/*-- stats --*/

.agileits_w3layouts-stats-grids:nth-child(1) {
    background: #eb5273;
    border: 10px solid #efdbdb;
    margin-top: 100px;
}

.agileits_w3layouts-stats-grids:nth-child(4) {
    background: #00b9ef;
    border: 10px solid #fff;
}

.agileits_w3layouts-stats-grids:nth-child(3) {
    background: #fc7e46;
    border: 10px solid #efdbdb;
    margin-top: 100px;
}

.agileits_w3layouts-stats-grids:nth-child(2) {
    background: #4ddba6;
    border: 10px solid #ffffff;
}

h4.title-about {
    font-weight: 600;
    letter-spacing: 3px;
    line-height: 1.5;
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
}

.stats-aboutinfo {
    text-align: left;
}

.stats-aboutinfo h6 {
    letter-spacing: 2px;
    margin: 0;
    font-size: 20px;
    margin-top: 15px;
    font-weight: 600;
    color: #031f9a;
    text-transform: uppercase;
}

.agileits_w3layouts-stats-grids {
    padding: 30px 0;
}

.stats-icon span {
    font-size: 41px;
    padding: 10px 13px;
    color: #ffffff;
    border: 1px solid #fff;
}

.numscroller {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

h4.title-about.about.text-center span {
    background: #febf00;
    padding: 0px 2px 0 7px;
    color: #031f9a;
}


/*-- //stats --*/


/*-- team --*/

div#team {
    background: #e6e6e6;
}

.team-grid1 {
    background: url(../images/order1.jpg) no-repeat center;
    background-size: cover;
    min-height: 520px;
    padding: 173px 74px 0;
    text-align: center;
}

.team-grids {
    padding: 0;
}

.team-grids .team-gridimg {
    overflow: hidden;
    position: relative;
    display: block;
}

.captn h4 {
    color: #fff;
    font-size: 2em;
    margin-top: 2px;
}

.captn p {
    font-size: 1em;
    margin-top: 0.5em;
    color: #fff;
    line-height: 1.8em;
}

.team-grids .captn {
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.captn-top {
    padding: 9% 10% 4%;
}

.team-gridimg:hover .captn {
    width: 100%;
    top: 44%;
}

.team-grids .agileits_social_list li {
    margin: 0 0.5em;
}

.team .social-teamicon {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    transition: 1s all;
}

.team-gridimg:hover .social-teamicon {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


/*-- social-icons --*/

.teaminfo-social-grids ul {
    padding: 0;
    margin: 0;
}

.teaminfo-social-grids ul li {
    display: inline-block;
}

.teaminfo-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}

.teaminfo-social-grids ul li a span.fa {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    width: 40px;
    height: 40px;
    line-height: 2.8em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.teaminfo-social-grids ul li a span.fa.fa-facebook:hover {
    background: #3b5998;
}

.teaminfo-social-grids ul li a span.fa.fa-twitter {
    margin: 0 .5em;
}

.teaminfo-social-grids ul li a span.fa.fa-twitter:hover {
    background: #55acee;
}

.teaminfo-social-grids ul li a span.fa.fa-rss {
    margin: 0 .5em 0 0;
}

.teaminfo-social-grids ul li a span.fa.fa-rss:hover {
    background: #f26522;
}

.teaminfo-social-grids ul li a span.fa.fa-vk:hover {
    background: #45668e;
}


/*-- //team --*/


/*-- news --*/

.news-gridimgtext {
    padding: 1em 2em;
    background: #fbfbfb;
}

.agileits-news-gridtext {
    -webkit-box-shadow: -2px 4px 5px rgba(25, 13, 15, 0.17);
    -moz-box-shadow: -2px 4px 5px rgba(25, 13, 15, 0.17);
    box-shadow: -2px 4px 5px rgba(25, 13, 15, 0.17);
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}

.news-gridimg{
     overflow: hidden;

}
.news-gridimgtext {
    padding: 2em 2.5em;
}
.news h5 {
    font-size: 1em;
    color: #000;
    letter-spacing: 1px;
    display: inline-block;
}
.news h4 a {
    color: #333;
    text-decoration: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}
.news h4 a:hover {
    color: #FF5722;
}
.news a.w3-agilebtn {
    padding: .6em 1.5em;
    color: #999;
    font-size: 0.9em;
    border-color: #999;
    margin: 1.5em 0 0;
}
.news a.w3-agilebtn:hover {
    color: #fff;
}
.news-gridimgtext h4 {
    color: #031f9a;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 10px 0;
}
.about-innergrids {
    padding: 15px;
}

/*-- //news --*/
.about-slid {
    background: url(../images/slide.jpg) no-repeat center;
    min-height: 400px;
    background-size: cover;
}
h6.slid {
    text-align: center;
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    width: 70%;
    margin: 0 auto;
    padding-top: 120px;
    line-height: 1.3;
    text-shadow: 0px 0px 2px rgb(70, 69, 69);
}

/*-- inner-banner-bottom --*/
.inner-banner {
    background: #031f9a;
    padding: 155px 30px;
}
.inner-main-bg {
    background: url(../images/inner-bg.png) no-repeat center;
    background-size: cover;
    min-height: 400px;
    padding: 0;
    -webkit-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    -moz-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
}
.banner-info.bg3.inner h3 {
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 0px 2px rgb(70, 69, 69);
}
.banner-info.bg3.inner {
    text-align: center;
}
.banner-info.bg3.inner p {
    color: #fff;
    text-shadow: 0px 0px 2px #000;
    margin-top: 12px;
}

/*-- /inner-banner-bottom --*/

/* single */
h5.main-title {
    font-size: 30px;
    color: #031f9a;
    text-transform: capitalize;
    font-weight: 600;
}
.blog-text {
    padding-top: 20px;
}
.blog-text h5 {
    color: #000;
    margin-bottom: 10px;
}
.w3l-media {
    margin-bottom: 15px;
    padding: 2em;
    background: #f7f7f7;
    -webkit-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    -moz-box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
    box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
}
.w3l-media h5 {
    color: #031f9a;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
}
.media-body p {
    margin: 10px 0;
}
.media-body a {
    color: #000;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: underline;
}
.single-left h5.main-title {
    margin-bottom: 25px;
}
.single-left {
    margin-bottom: 30px;
}

/* //single */
.mb-left {
    background: url(../images/g7.jpg) no-repeat center;
    background-size: cover;
    min-height: 400px;
}
.mb-right {
    padding: 137px 50px;
    background: #ebebeb;
}
.mb-right h4 {
    font-size: 30px;
    text-transform: capitalize;
    font-weight: bold;
    color: #031f9a;
}
.mb-right a {
    display: inline-block;
    background: #031f9a;
    padding: 9px 15px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
    font-size: 13px;
}
.mb-right p {
    margin: 10px 0;
    color: #000;
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 1px;
}

/*-- terms-section-starts --*/
.terms h6,
h4.privacy {
    font-size: 20px;
    color: #002a28;
    font-weight: 600;
    margin: 35px 0 18px 0;
    letter-spacing: 1px;
}
.terms p {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 15px;
    padding-left: 20px;
}
.terms ol li {
    color: #777;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 15px;
}
.terms {}
.terms span {
    color: #000;
    font-weight: 600;
    font-size: 1.3em;
}
.terms-bottom {
    margin-top: 3em;
}

/*-- //terms-section-ends --*/

/*--privacy--*/
.privacy h3 {
    font-size: 3em;
    color: #000;
    padding: 0 0 0.3em;
    text-align: center;
}
.privacy h3:after,
.privacy h3:before {
    width: 200px;
    height: 1px;
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: #000;
    margin: 0 1%;
}
.privacy p {
    font-size: 1.1em;
    color: #a3a3a3;
    line-height: 2em;
    padding: 1em 0;
}
ul.privacy-start li {
    list-style: none;
}
ul.privacy-start li a {
    display: block;
    text-decoration: none;
    color: #a3a3a3;
    margin: 0.5em 0;
    line-height: 2em;
}
ul.privacy-start li a:hover {
    color: #ea4c89;
}
ul.privacy-start li a i {
    display: inline-block;
    border-radius: 100px;
    width: 6px;
    height: 6px;
    background: #000;
    vertical-align: middle;
    margin: 0 1% 0 0;
}
.use-privay {
    padding: 0.2em 0;
}
p.privacy-para {
    padding: 1em 0 0.3em;
}

/*--//privacy--*/

/*-- to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 20px;
    right: 2%;
    overflow: hidden;
    z-index: 999;
    width: 35px;
    height: 35px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-up.png) no-repeat 0px 0px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
}
#toTopHover {
    width: 35px;
    height: 35px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}
.testimonials_block
{
    padding-top: 20px;

}
figure.image {
    border: 1px solid #ddd;
    background: #f1f1f1;
    padding: 2px;
    text-align: center;
}

/* line 49, ../sass/_base.scss */
figure.image[style*="float:left"] {
    margin: 5px 15px 0px 0px;
}

/* line 53, ../sass/_base.scss */
figure.image[style*="float:right"] {
    margin: 5px 0px 0px 15px;
}
figure>figcaption
{
    padding: 5px 0 0 0;
}

.contactinfo-main-w3_agile {
    background: #f1f1f1;
    background-size: cover;
}
.contactinfo-dot {
    
}
.contactinfo-grid1
{
    padding: 3em 0;
}
.contactinfo-bottom h5
 {
    color: #002453;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 25px;
    margin-top: 20px;
    text-transform: capitalize;
}

.contactinfo-grid1 h4
{
    color: #002453;
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.contactinfo-grid1 h6
{
    color: #002453;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.contactinfo-grid1.address ul li span {
    font-size: 16px;
    margin: 0px 15px 0 0;
    color: #c9333c;
    background: #fdfbfb;
    width: 29px;
    height: 28px;
    padding: 6px 7px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
}
.contactinfo-grid1 ul li {
    margin: 10px 0;
}
.contactinfo-grid1 p, .contactinfo-grid1 a {
    display: inline;
    color: black;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: capitalize;
}
.contactinfo-grid1 ul li a {
    color: black;
}
/*-- //to-top --*/

/* -- Responsive code -- */
@media screen and (max-width: 1366px) {
    .banner-top,
    .banner-top1,
    .banner-top2 {
        min-height: 550px;
    }

    .banner-info h3 {
        font-size: 52px;
    }

    about-bottom-g1 h4,
    .stats h5 {
        font-size: 29px;
    }

    .about-left,
    .about-main-bg {
        min-height: 526px;
    }

    .about-main-bg {
        padding-top: 165px;
    }
    .testimonials_block
    {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 1080px) {
    /*.navbar-nav > li{
        width:10.2%;
    }*/
    .navbar-nav > li:nth-child(6), .navbar-nav > li:nth-child(2) {
        width: 14%;
    }
   .navbar-nav > li:nth-child(7) {
        width: 21%;
    }
   /* .header-grid-left-wthree {
        width: 33%;
    }*/
   .banner-top,
    .banner-top1,
    .banner-top2 {
        min-height: 510px;
    }

    .banner-info h3 {
        font-size: 49px;
    }

    h4.about-title {
        font-size: 6.5em;
    }

    h4.sub {
        font-size: 48px;
    }

    .footer-grid1 p,
    .footer-grid1 a {
        letter-spacing: 0.4px;
    }

    .about-bottom {
        margin-left: 2em;
    }

    .about-bottom-g1 h4 {
        font-size: 25px;
    }

    .banner-btmg1 img {
        right: -26px;
        top: 21px;
    }

    .banner-grid2 {
        margin: 0 0 0 2em;
    }

    .banner-subg1 {
        margin-bottom: 2em;
    }

    .banner-subg1 p {
        margin: 28px auto;
    }

    .contact-left {
        width: 47%;
    }

    .w3layouts-reg-form {
        width: 53%;
    }

    .footer-grid1 h4,
    .agileinfo-subscribe-grid h4,
    .blog-text h5 {
        font-size: 24px;
    }

    .w3_agile-plan-grid {
        padding: 0 1em;
    }

    .serv-sub1 {
        padding: 18px;
    }

    .serv-grid1 {
        padding: 100px 25px 0;
        min-height: 390px;
    }

    h4.sub1 {
        font-size: 30px;
    }

    h6.slid {
        width: 90%;
    }

    .about-slid {
        min-height: 375px;
    }

    .team-grid1 {
        min-height: 425px;
        padding: 150px 55px 0;
    }

    .captn-top {
        padding: 2% 10% 4%;
    }
    .testimonials_block
    {
        padding-left:15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 1050px) {
    .banner-top,
    .banner-top1,
    .banner-top2 {
        min-height: 470px;
    }

    .banner-bg2 {
        min-height: 420px;
    }

    .banner-info.bg3.inner {
        padding-top: 11em;
    }

    h4.about-title {
        font-size: 6.3em;
    }

    .about-main-bg {
        padding-top: 180px;
    }

    .about-bottom-g1 h4 {
        font-size: 24px;
    }

    h4.title-about {
        letter-spacing: 2px;
        line-height: 1.8;
        font-size: 27px;
    }

    .inner-main-bg {
        min-height: 405px;
    }
    .testimonials_block
    {
        padding-left:15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 1024px) {
    .about-bottom h5 {
        font-size: 23px;
    }

    .agileinfo-subscribe-grid img {
        width: 10%;
    }

    .banner-bg2 {
        min-height: 400px;
    }

    h5.main-title {
        font-size: 28px;
    }

    h6.slid {
        font-size: 45px;
    }

    .about-slid {
        min-height: 350px;
    }

    .de_testi_by p {
        width: 60%;
    }
    .testimonials_block
    {
        padding-left:15px;
        padding-right: 15px;
    }
}
@media screen and (min-width: 992px) {
    .banner-bottom-main,
    .banner-btm-grid2 {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .banner-btmg1,
    .banner-grid2 {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .banner-btm-grid2 {
        -webkit-box-flex: 2;
        -moz-box-flex: 2;
        -webkit-flex: 2;
        -ms-flex: 2;
        flex: 2;
    }
    .testimonials_block
    {
        padding-left:15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 991px) {
    .logo-nav-left1 ul li a {
       letter-spacing: 0px;
       font-size: 13px;
    }
    .navbar-nav > li {
        width: 12%;
    }
    .navbar-nav > li:first-child {
        width: 9%;
    }
    .navbar-nav > li:nth-child(4) {
        width: 12%;
    }
    .navbar-nav > li:nth-child(7) {
        width: 24%;
    }
    .navbar-nav > li:nth-child(2) {
        width: 13%;
    }
    .navbar-nav > li:nth-child(6) {
        width: 15%;
    }
    .navbar-nav > li:nth-child(5) {
        width: 9%;
    }
    .navbar-nav > li:nth-child(8) {
        width: 6%;
    }
    .search_form input[type='submit'] {
        padding: 16px 36px;
    }
    ul li.s-bar {
        padding: 0 6px 17px 14px;
        line-height: 0;
    }
    .banner-btmg1 {
        width: 100%;
    }

    .banner-btmg1 img {
        right: -54px;
        top: -97px;
    }
    .header-grid-left-wthree {
        width: 43%;
    }

    .logo-nav-left h1 a span.fa {
        top: -33px;
        left: 7px;
    }

    .banner-info h3 {
        font-size: 44px;
    }

    .banner-top,
    .banner-top1,
    .banner-top2 {
        min-height: 445px;
    }

    .banner-info {
        padding: 11em 0 0em;
    }

    .banner-grid2 {
        margin: 2em 0;
    }

    .banner-grid2:last-child {
        margin: 0;
    }

    .banner-subg1 {
        width: 48%;
        float: left;
        margin: 0;
    }

    .banner-subg1:nth-child(even) {
        margin: 0 0 2em 2em
    }

    .about-left,
    .about-main-bg {
        min-height: 400px;
    }

    .about-main-bg {
        padding-top: 125px;
    }

    .mb-right {
        padding: 140px 39px;
    }

    .mb-right h4 {
        font-size: 27px;
    }

    .mb-right p {
        font-size: 15px;
        letter-spacing: 0px;
    }

    .agileinfo-subscribe-grid {
        padding: 40px 0;
    }

    .agileinfo-subscribe-grid form {
        width: 65%;
    }

    .agileinfo-subscribe-grid img {
        width: 15%;
    }

    .contact-left,
    .contact-right,
    .w3layouts-reg-form {
        width: 100%;
        float: none;
    }

    .w3layouts-reg-form {
        margin-top: 1em;
    }

    .app-main h6 {
        font-size: 29px;
    }

    .app-form {
        width: 100%;
    }

    .app-links li img {
        width: 30%;
    }

    h4.main-title {
        font-size: 42px;
    }

    .about-inner-main,
    .services-main {
        margin-top: 35px;
    }

    .footer-dot {
        padding: 0;
    }

    .footer-grid1.ftr-img {
        width: 51%;
    }

    .footer-grid1:nth-child(4) {
        width: 49%;
    }

    .footer-grid1 {
        margin: 30px 0 0;
    }

    .banner-bg2 {
        min-height: 370px;
    }

    .reg-img img {
        margin: 0 auto;
        display: block;
    }

    .pricing_grid_content {
        padding: 0em 1em 2em;
    }

    .pricing_grid_content h5 {
        font-size: 21px;
        padding: 10px 6px;
        line-height: 1.2;
    }

    .pricing_grid_content ul li {
        padding: 1em 0.5em;
    }

    .pricing_grid_content ul li span.fa {
        margin-right: 15px;
    }

    .pricing_grid_content a {
        padding: 0.4em 0;
    }

    .serv-grid1 {
        min-height: 280px;
    }

    .serv-grid1 {
        padding: 100px 30px 0;
    }

    .serv-sub1 {
        width: 31.5%;
        float: left;
        margin: 10px 5px;
    }

    .serv-grid2 {
        padding: 0;
    }

    .blog-text {
        padding: 20px 0;
    }

    .inner-banner {
        padding: 85px 30px;
    }

    .inner-main-bg {
        min-height: 524px;
        background-size: contain;
    }

    .stats-icon span {
        font-size: 30px;
    }

    h6.slid {
        width: 96%;
    }

    .team-gridimg:hover .captn {
        top: 58%;
    }

    .captn-top {
        padding: 10% 10% 4%;
    }

    .de_testi_by p {
        width: 80%;
    }

    .team-grid1 {
        min-height: 295px;
        padding: 115px 55px 0;
    }

    .abt-img {
        width: 15%;
    }

    .team-main-grid {
        padding: 0;
    }

    .quotes {
        width: 25%;
    }
    .testimonials_block
    {
        padding-left:15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 900px) {
    .footer-grid1 h4,
    .agileinfo-subscribe-grid h4,
    .blog-text h5 {
        font-size: 22px;
    }

    .navbar-default {
        margin: 0;
    }

    h4.about-title {
        font-size: 6em;
    }

    .about-main-bg {
        padding-top: 110px;
    }

    .about-left,
    .about-main-bg {
        min-height: 355px;
    }

    .inner-banner {
        padding: 70px 30px;
    }
    .testimonials_block
    {
        padding-left:15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 800px) {
    .banner-info h3 {
        font-size: 40px;
    }

    .banner-info h3 {
        font-size: 40px;
    }

    .register-right h6 {
        font-size: 28px
    }

    .nav-tabs {
        margin: 0 0 3em;
    }

    h6.slid {
        font-size: 41px;
    }

    .about-slid {
        min-height: 330px;
    }

    .stats-aboutinfo h6 {
        letter-spacing: 1px;
        font-size: 18px;
    }

    .team-grid1 {
        min-height: 276px;
        padding: 95px 55px 0;
    }

    .app-main {
        margin-top: 4em;
        padding-left: 1em;
    }

    .app-main h6 {
        font-size: 27px;
    }
    .testimonials_block
    {
        padding-left:15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 768px) {
    .banner-btmg1 img {
        right: -49px;
        top: -75px;
        width: 25%;
    }

    .agileinfo-subscribe-grid input[type="email"],
    .agileinfo-subscribe-grid button.btn1 {
        padding: 10px 15px;
    }

    .serv-grid1 {
        padding: 90px 78px 0;
        min-height: 250px;
    }

    .about-slid {
        min-height: 295px;
    }

    h6.slid {
        padding-top: 100px;
        font-size: 39px;
    }

    .de_testi_by p {
        width: 100%;
    }
    .testimonials_block
    {
        padding-left:15px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 767px) {
    .logo-nav-left1 {
        float: none;
    }

    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle {
        background-color: #595959;
        color: #fff;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: transparent;
    }
    .navbar-nav li,.navbar-nav > li:nth-child(even),.navbar-nav > li:nth-child(odd){
        width:100%;
    }
    label.icon-search span {
        padding: 16px 0 0;
        line-height: 0.2;
        font-size: 1.1em;
    }
    .navbar-nav {
        margin: 1em 0 0;
        background: #DFDFDF;
        text-align: center;
        padding-bottom: 1em;
        width: 100%;
    }

    .navbar-toggle {
        color: #fff;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bold;
        background: #031f9a;
        letter-spacing: 1px;
        height: 48px;
        padding: 0.95em 1em 0;
    }

    .logo-nav-agileits {
        padding: 0.5em 0;
    }

    .navbar-toggle {
        position: relative;
        float: none;
        width: 100%;
    }

       navbar-default .navbar-nav .open .dropdown-menu>li>a,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #fff;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>ul {
        background-color: #1da1f2;
    }

}
@media screen and (max-width: 736px) {
    .header-grid-left-wthree {
        width: 45%;
    }
    .banner-btmg1 img {
        right: -45px;
        top: -65px;
    }

    .agileinfo-subscribe-grid {
        padding: 20px 0 40px;
    }

    .about-left,
    .about-main-bg {
        min-height: 330px;
    }

    .about-main-bg {
        padding-top: 94px;
    }

    .banner-subg1:nth-child(even) {
        margin: 0 0 1.9em 1.9em;
    }

    .banner-top,
    .banner-top1,
    .banner-top2 {
        min-height: 415px;
    }

    h4.about-title {
        font-size: 5.6em;
    }

    .banner-bg2 {
        min-height: 340px;
    }

    .banner-info.bg3.inner {
        padding-top: 10em;
    }

    .mb-left {
        min-height: 350px;
    }

    .mb-right {
        padding: 100px 39px;
    }

    .app-mobile {
        width: 40%;
        margin: 0 auto 20px;
        float: none;
    }

    .app-links li img {
        width: 26%;
    }

    .register-right {
        margin-top: 2em;
    }

    .w3_agile-plan-grid {
        width: 57%;
        margin: 0 auto;
    }

    .w3_agile-plan-grid:nth-child(2) {
        margin: 2em auto;
    }

    .inner-banner {
        padding: 55px 30px;
    }

    .inner-main-bg {
        min-height: 496px;
    }

    .about-slid {
        min-height: 270px;
    }

    h6.slid {
        font-size: 34px;
    }

    .de_testi_by {
        padding: 2em;
    }

    .search_box:checked~.search_form {
        width: 100%;
    }

}
@media screen and (max-width: 667px) {
    .header-grid-left-wthree {
        width: 50%;
    }
    .logo-nav-left {
        width: 100%;
    }
    .banner-silder{
        text-align: justify;
    }
    .testimonial_content_wrapper
    {
        text-align: justify;
    }
    .testimonial_content_wrapper p
    {
        text-align: center;
    }

   

    .banner-info h3 {
        font-size: 38px;
    }

    .banner-btmg1 img {
        right: -41px;
        top: -44px;
    }

    .banner-subg1 {
        width: 47.78%;
    }

    .agileinfo-subscribe-grid form {
        margin: 16px auto 0;
    }

    .agileinfo-subscribe-grid p {
        font-size: 18px;
    }

    .logo-nav-left h2 a {
        font-size: 26px;
    }

    span.logo-title {
        font-size: 12px;
    }

    .about-bottom {
        margin-left: 1em;
    }

    .mb-right {
        padding: 80px 39px;
    }

    .hi-icon:before {
        font-size: 1.2em;
    }

    .hi-icon {
        width: 40px;
        height: 40px;
    }

    .banner-bg2 {
        min-height: 310px;
    }

    .footer-social ul li span {
        padding: 8px;
        width: 30px;
        height: 30px;
    }

    .about-bottom-g1 h4 {
        font-size: 23px;
    }

    .w3ls-section {
        padding: 3.5em 0;
    }

    .footer-grid1.res {
        width: 40%;
    }

    .footer-grid1.address {
        width: 60%;
    }

    .footer-grid1:nth-child(4) {
        width: 39%;
    }

    .footer-grid1.ftr-img {
        width: 61%;
    }

    h4.sub1 {
        font-size: 26px;
    }

    .inner-main-bg {
        min-height: 448px;
    }

    .stats-icon span {
        padding: 6px 8px;
    }

    .numscroller {
        font-size: 35px;
    }

    .stats h5 {
        font-size: 27px;
    }

    .team-grid1 {
        min-height: 245px;
        padding: 80px 55px 0;
    }

    .quotes {
        width: 30%;
    }

    .logo-nav-left h1 a span.fa {
        left: 3px;
    }

    .banner-bg2 {
        min-height: 290px;
    }

    .banner-info.bg3.inner {
        padding-top: 8em;
    }

    .app-mobile img {
        width: 100%;
    }
}
@media screen and (max-width: 640px) {
     .header-grid-left-wthree {
        width: 52%;
    }

   /* .logo-nav-left h2 a span.fa {
        font-size: 46px;
        top: -34px;
        left: 7px;
    }*/
    .logo-nav-left {
        width: 100%;
    }
  
    .banner-btmg1 img {
        top: -35px;
    }

    .banner-subg1 {
        width: 47.7%;
    }

    h4.about-title {
        font-size: 5.3em;
    }

    .about-main-bg {
        padding-top: 85px;
    }

    .about-left,
    .about-main-bg {
        min-height: 295px;
    }

    .about-bottom-g1 h4 {
        font-size: 22px;
    }

    .banner-bg2 {
        min-height: 315px;
    }

    .banner-info.bg3.inner {
        padding-top: 9.5em;
    }

    .app-main h6 {
        font-size: 25px;
    }

    h4.main-title {
        font-size: 40px;
    }

    .banner-bg2 {
        min-height: 295px;
    }

    .nav-tabs>li>a {
        font-size: 14px;
        padding: 7px 13px;
    }

    h5.main-title {
        font-size: 26px;
    }

    .team-gridimg:hover .captn {
        top: 54%;
    }

    h6.slid {
        font-size: 32px;
        padding-top: 84px;
    }

    .about-slid {
        min-height: 230px;
    }

    .quotes {
        padding: 5px;
    }

    h4.title-about {
        font-size: 26px;
    }

    .inner-banner {
        padding: 35px 30px;
    }

    .inner-main-bg {
        min-height: 427px;
    }

    .banner-info.bg3.inner {
        padding-top: 8.5em;
    }
}
@media screen and (max-width: 600px) {
   /* .logo-nav-left {
        float: none;
        width: 36%;
        margin: 35px auto 20px;
    }*/
    .logo-nav-left {
        width: 100%;
    }
   
    .header-grid-left-wthree {
        width: 60%;
        float: none;
        margin: 0 auto;
    }

    .banner-info h3 {
        font-size: 36px;
    }

    .banner-top,
    .banner-top1,
    .banner-top2 {
        min-height: 375px;
    }

    .banner-info {
        padding: 9em 0 0em;
    }

    .banner-subg1 {
        width: 47.5%;
    }

    .about-bottom-g1 h4 {
        font-size: 21px;
        line-height: 1.5;
    }

    .agileinfo-subscribe-grid {
        padding: 20px 20px 40px;
    }

    .agileinfo-subscribe-grid form {
        width: 70%;
    }

    .banner-btmg1 img {
        top: -24px;
        right: -37px;
    }

    h4.sub {
        font-size: 46px;
    }

    .about-grid {
        margin: 40px 0 0 0px;
        float: left;
        width: 72%;
    }

    .mb-left {
        min-height: 300px;
    }

    .mb-right {
        padding: 60px 39px;
    }

    .banner-btmg1 img {
        top: -25px;
        right: -38px;
    }

    .footer-social {
        float: none;
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }

    .cpy-footer {
        padding: 0;
    }

    .banner-info.bg3.inner {
        padding-top: 8em;
    }

    .w3_agile-plan-grid {
        width: 65%;
    }

    .serv-sub1 h5 {
        font-size: 18px;
    }

    h4.sub1 {
        font-size: 24px;
    }

    .team-grid1 {
        min-height: 209px;
        padding: 68px 55px 0;
    }

    .captn-top {
        padding: 7% 10% 4%;
    }

    .inner-main-bg {
        min-height: 400px;
    }

    .agileits_w3layouts-stats-grids {
        width: 50%;
    }

    .stats h5 {
        font-size: 24px;
    }

    .banner-bg2 {
        min-height: 275px;
    }
}
@media screen and (max-width: 568px) {
    .banner-top,
    .banner-top1,
    .banner-top2 {
        min-height: 335px;
    }
    .logo-nav-left {
        width: 100%;
    }
    .banner-info {
        padding: 8em 0 0em;
    }

    .banner-bg2 {
        min-height: 260px;
    }

    .banner-info h3 {
        font-size: 34px;
    }

    .banner-info.bg3.inner {
        padding-top: 7.5em;
    }

    .banner-btmg1 img {
        top: -15px;
        right: -35px;
    }

    .banner-subg1 {
        width: 47.4%;
    }

    h4.about-title {
        font-size: 5em;
    }

    .about-grid {
        margin: 40px 0 0 0px;
        float: left;
        width: 80%;
    }

    .agileinfo-subscribe-grid p {
        font-size: 16px;
    }

    .serv-sub1 {
        width: 47.5%;
    }

    h4.title-about {
        font-size: 23px;
    }

    .inner-main-bg {
        min-height: 375px;
    }

    h4.sub1 {
        font-size: 22px;
    }

    .team-grid1 {
        min-height: 181px;
        padding: 60px 55px 0;
    }

    .de_testi_by p {
        font-size: 15px;
    }

    h6.slid {
        font-size: 29px;
    }

    .stats h5 {
        font-size: 23px;
    }

    p.services-main {
        padding: 0;
    }

    .app-main {
        margin-top: 2em;
    }

    .app-main h6 {
        font-size: 23px;
    }

    .app-mobile {
        width: 46%;
    }
}
@media screen and (max-width: 480px) {
    .logo-nav-left {
        width: 100%;
    }
   
    .header-grid-left-wthree {
        width: 72%;
    }

    .banner-subg1 {
        width: 100%;
    }

    .banner-info h3 {
        margin-bottom: 5px;
    }

    .banner-bg2 {
        min-height: 240px;
    }

    .banner-info.bg3.inner {
        padding-top: 6.5em;
    }

    .banner-subg1:nth-child(even) {
        margin: 1em 0em;
    }

    h4.about-title {
        font-size: 4.5em;
    }

    h4.sub {
        font-size: 42px;
    }

    .about-left,
    .about-main-bg {
        min-height: 260px;
    }

    .about-main-bg {
        padding-top: 70px;
    }

    .about-bottom-g1 {
        padding: 3em 2em 1em;
    }

    .about-grid {
        width: 100%;
    }

    .banner-btmg1 img {
        top: 9px;
        right: -29px;
    }

    .abt-img {
        padding: 0;
        float: left;
        width: 24%;
    }

    .mb-right h4 {
        font-size: 25px;
    }

    .mb-right {
        padding: 40px;
    }

    .about-bottom h5 {
        font-size: 21px;
    }

    .footer-grid1 h4,
    .agileinfo-subscribe-grid h4,
    .blog-text h5 {
        font-size: 20px;
    }

    .agileinfo-subscribe-grid form {
        width: 100%;
    }

    .footer-grid1,
    .footer-grid1.address {
        width: 100%;
        float: none;
    }

    .footer-grid1:nth-child(even) {
        margin: 30px 0 0;
    }

    .agileinfo-subscribe-grid img {
        width: 18%;
        margin: 10px auto;
        display: block;
    }

    .footer-social h4 {
        font-size: 18px;
    }

    .agileinfo-subscribe-grid p {
        margin-top: 7px;
    }

    .footer-grid1.res,
    .footer-grid1.ftr-img {
        width: 100%;
    }

    .contact-form-right input[type="submit"] {
        font-size: 14px;
    }

    .app-links li img {
        width: 30%;
    }

    h4.main-title {
        font-size: 38px;
    }

    .w3_agile-plan-grid {
        width: 75%;
    }

    .nav-tabs>li {
        margin: 0 2px;
    }

    .serv-grid1 {
        padding: 80px 55px 0;
        min-height: 220px;
    }

    h4.sub1 {
        font-size: 23px;
    }

    h6.slid {
        font-size: 27px;
        padding-top: 70px;
    }

    .about-slid {
        min-height: 198px;
    }

    h4.sub1 {
        font-size: 19px;
    }

    .team-grid1 {
        min-height: 168px;
        padding: 60px 41px 0;
    }

    .stats h5 {
        font-size: 21px;
    }

    .about-inner-main,
    .services-main {
        margin-top: 20px;
    }

    .team-gridimg:hover .captn {
        top: 45%;
    }

    .inner-main-bg {
        min-height: 313px;
    }

    .navbar-toggle {
        height: 40px;
        padding: 0.6em 1em 0;
    }

    .app-mobile {
        width: 50%;
    }
	.search_form input[type='search'] {
		width: 265px;
	}
}
@media screen and (max-width: 414px) {
    .header-grid-left-wthree {
        width: 84%;
        padding: 10px;
    }
    .logo-nav-left {
        width: 100%;
    }
   

    .banner-info h3 {
        font-size: 31px;
    }

    .banner-top,
    .banner-top1,
    .banner-top2 {
        min-height: 310px;
    }

    .banner-info p {
        font-size: 14px;
        letter-spacing: 3px;
    }

    .banner-btmg1 img {
        top: 29px;
        right: -24px;
    }

    h4.about-title {
        font-size: 4.3em;
    }

    .abouthome-grid {
        float: none;
    }

    .about-bottom {
        margin-left: 0;
        margin-top: 1em;
    }

    .mb-left {
        min-height: 250px;
    }

    .footer-top {
        padding-top: 1em;
    }

    .serv-grid1 {
        padding: 64px 35px 0;
        min-height: 194px;
    }

    .serv-sub1 {
        width: 100%;
        margin: 10px 0;
    }

    .logo-nav-agileits {
        padding: 0;
    }

    .logo-nav-left {
        margin: 23px auto 15px;
    }

    .logo-nav-left h1 a span.fa,
    .logo-nav-left h2 a span.fa {
        font-size: 43px;
    }

    .logo-nav-left h1 a,
    .logo-nav-left h2 a {
        font-size: 26px;
    }

    span.logo-title {
        font-size: 11px;
        letter-spacing: 1px;
    }

    .agileinfo-subscribe-grid img {
        width: 27%;
        display: block;
        margin: 0 auto 10px;
    }

    .footer-social {
        width: 59%;
    }

    .banner-bg2 {
        min-height: 225px;
    }

    .contact-form-right input[type="submit"],
    .contact-form-right,
    .contact-field3 {
        width: 100%;
        float: none;
    }

    .contact-inner-form {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
    }

    .contact-form-right input[type="submit"] {
        margin-top: 25px;
        padding: 40px 8px;
    }

    .contact-form-left {
        width: 100%;
        float: none;
    }

    .contact-field1 {
        order: 1;
        -webkit-order: 1;
    }

    .contact-field2 {
        order: 3;
        -webkit-order: 3;
    }

    .contact-field3 {
        order: 2;
        -webkit-order: 2;
    }

    .app-main h6 {
        font-size: 22px;
    }

    .app-form input[type="text"],
    .app-form input[type="submit"] {
        width: 100%;
        float: none;
    }

    .w3ls-section {
        padding: 3em 0;
    }

    .app-links li img {
        width: 37%;
    }

    .agile-contact-top h4,
    h4.form-con-txt {
        font-size: 23px;
        letter-spacing: 0px;
    }

    h4.main-title {
        font-size: 35px;
    }

    .register-right h6 {
        font-size: 26px;
    }

    .w3layouts-reg-form p {
        font-size: 14px;
    }

    .w3_agile-plan-grid {
        width: 87%;
    }

    h4.title-about {
        font-size: 21px;
    }

    .team-grid1 {
        padding: 43px 33px 0;
    }

    .inner-main-bg {
        min-height: 265px;
    }

    .quotes {
        width: 37%;
    }

    .stats h5 {
        font-size: 20px;
        line-height: 1.5;
    }

    .team-grids {
        padding: 0;
        width: 100%;
        float: none;
    }

    .team-gridimg:hover .captn {
        top: 63%;
    }

    .de_testi_by h6 {
        font-size: 21px;
    }

    .de_testi {
        padding: 3em 0em;
    }

    .app-mobile {
        width: 55%;
    }
    ul li.s-bar {
        padding: 0px 6px 10px 2px;
    }
	.search_form input[type='submit'] {
        padding: 16px 18px;
    }
	.search_form input[type='search'] {
		width: 232px;
	}
}
@media screen and (max-width: 384px) {
    .banner-bg2 {
        min-height: 210px;
    }

    .banner-top,
    .banner-top1,
    .banner-top2 {
        min-height: 230px;
    }
   

    .banner-info.bg3.inner {
        padding-top: 5.5em;
    }

    .header-grid-left-wthree {
        width: 85%;
    }

    .agileinfo-subscribe-grid input[type="email"],
    .agileinfo-subscribe-grid button.btn1 {
        width: 90%;
    }

    .footer-social {
        width: 63%;
    }

    .logo-nav-left {
        /* width: 53%; */
        width: 100%;
    }

    .cpy-text p {
        padding: 1em;
    }

    .navbar-toggle {
        height: 40px;
        padding: 0.5em 1em 0;
    }

    .banner-btmg1 img {
        top: 38px;
        right: -21px;
    }

    .banner-btmg1 h3 {
        font-size: 22px;
    }

    .banner-subg1 {
        padding: 3em 2em;
    }

    .about-main-bg {
        padding-top: 60px;
    }

    .about-left,
    .about-main-bg {
        min-height: 234px;
    }

    h4.about-title {
        font-size: 4.1em;
    }

    h4.sub {
        font-size: 41px;
    }

    .banner-info h3 {
        font-size: 28px;
    }

    .banner-info {
        padding: 6em 0 0em;
    }

    .about-bottom-g1 h4 {
        font-size: 19px;
    }

    .mb-right {
        padding: 30px 20px;
    }

    .agile-contact-top h4,
    h4.form-con-txt {
        font-size: 23px;
    }

    .app-main h6 {
        font-size: 20px;
    }

    .agile-contact-top h4,
    h4.form-con-txt {
        font-size: 22px;
    }

    .w3layouts-reg-form p {
        letter-spacing: 0px;
    }

    .w3_agile-plan-grid {
        width: 91%;
    }

    .nav-tabs>li>a {
        padding: 7px 10px;
    }

    h5.main-title {
        font-size: 24px;
    }

    .serv-grid1 {
        padding: 51px 35px 0;
        min-height: 160px;
    }

    h4.sub1 {
        font-size: 19px;
    }

    .w3l-media {
        padding: 1.5em;
    }

    .w3l-media h5 {
        font-size: 19px;
    }

    .de_testi_by {
        padding: 2em 1em;
    }

    h4.main-title {
        font-size: 33px;
    }

    .captn h4 {
        font-size: 1.8em;
    }

    h4.title-about {
        font-size: 20px;
    }

    h4.title-about.about.span {
        padding: 0px 1px 0 3px;
    }

    .breadcrumbs-w3l {
        padding: 10px 0;
    }

    .app-form {
        margin: 10px 0;
    }

    .app-mobile {
        width: 60%;
    }

    .app-links li img {
        width: 44%;
    }
	.search_form input[type='search'] {
		width: 200px;
	}
}
@media screen and (max-width: 375px) {
    .header-grid-left-wthree {
        width: 88%;
    }
     .banner-info {
        padding: 5em 0 0em;
    }
   

    .banner-top,
    .banner-top1,
    .banner-top2 {
        min-height: 205px;
    }

    .banner-btmg1 img {
        top: 38px;
        right: -21px;
    }

    .banner-btmg1 {
        padding: 2.5em 2em;
    }

    .banner-subg1 p {
        margin: 18px auto;
        width: 100%;
    }

    .banner-btmg1 h3 {
        font-size: 20px;
    }

    .footer-social {
        width: 65%;
    }

    .banner-bg2 {
        min-height: 230px;
    }

    .banner-info.bg3.inner {
        padding-top: 6.5em;
    }

    .app-form {
        margin: 12px 0;
    }

    .app-form p {
        font-size: 15px;
    }

    .pricing_grid_content a {
        padding: 0.3em 0;
        font-size: 14px;
    }

    .pricing_grid_content h5 {
        font-size: 20px;
    }

    h6.slid {
        font-size: 25px;
        padding-top: 56px;
    }

    .about-slid {
        min-height: 175px;
    }

    .news-gridimgtext {
        padding: 1em;
    }

    h4.main-title {
        font-size: 30px;
    }

    .de_testi_by h6 {
        font-size: 19px;
    }

    .de_testi {
        padding: 2em 0em;
    }

    .banner-bg2 {
        min-height: 220px;
    }

    .agileinfo-subscribe-grid {
        padding: 20px 5px 40px;
    }
	.search_form input[type='search'] {
		width: 190px;
	}
}
@media screen and (max-width: 320px) {
  /*  .logo-nav-left {
        width: 59%;
        margin: 5px auto 6px;
    }*/
     .logo-nav-left {
        width: 90%;
    }
    .logo-item{
    width: 100%;
}
    


    .logo-nav-left h1 a span.fa,
    .logo-nav-left h2 a span.fa {
        font-size: 40px;
    }

    .banner-info {
        padding: 4.5em 0 0em;
    }

    .navbar-toggle {
        margin: 5px 0 2px;
        height: 35px;
        padding: 0.5em 1em 0;
    }

    .header-grid-left-wthree {
        width: 100%;
        padding: 4px;
    }

    .banner-info h3 {
        font-size: 23px;
    }

    .banner-info p {
        font-size: 13px;
        letter-spacing: 2px;
    }

    .banner-top,
    .banner-top1,
    .banner-top2 {
        min-height: 175px;
    }

    .banner-info {
        padding: 4em 0 0em;
    }

    .banner-btmg1 img {
        top: 48px;
        right: -17px;
    }

    .banner-subg1 h3,
    .about-bottom h5 {
        font-size: 24px;
    }

    h4.about-title {
        font-size: 3.7em;
    }

    h4.sub {
        font-size: 38px;
    }

    .about-left,
    .about-main-bg {
        min-height: 200px;
    }

    .banner_form input[type=text],
    .form-tx textarea,
    .form-select select {
        padding: 8px 15px;
    }

    .mb-right h4 {
        font-size: 24px;
    }

    .mb-right p {
        font-size: 13px;
    }

    .banner-btmg1 {
        padding: 1em 2em 2em;
    }

    .banner-subg1 {
        padding: 2em;
    }

    .footer-social {
        width: 77%;
    }

    .about-inner-main,
    .services-main {
        margin-top: 30px;
    }

    .banner-bg2 {
        min-height: 180px;
    }

    .banner-info.bg3.inner {
        padding-top: 5em;
    }

    .breadcrumbs-w3l {
        padding: 9px 0;
    }

    .app-main {
        padding: 0;
    }

    .app-main h6 {
        font-size: 18px;
    }

    .w3ls-section {
        padding: 2em 0;
    }

    h6.slid {
        font-size: 23px;
        padding-top: 45px;
    }

    .app-form p {
        font-size: 14px;
    }

    .app-form {
        width: 100%;
    }

    .footer-grid1,
    .footer-grid1.address {
        padding: 0;
    }

    .footer-grid1.address ul li span {
        margin: 0px 6px 0 0;
    }

    .w3layouts-reg-form {
        padding: 1em;
    }

    h4.main-title {
        font-size: 32px;
    }

    .footer-bottom {
        padding: 0em 0 3em;
    }

    .register-right h6 {
        font-size: 24px;
    }

    .w3_agile-plan-grid {
        width: 100%;
    }

    .nav-tabs>li>a {
        padding: 7px 6px;
        font-size: 13px;
    }

    h4.sub1 {
        font-size: 18px;
    }

    .serv-grid1 {
        padding: 50px 19px 0;
    }

    .post-media {
        padding: 0;
    }

    .all-comments {
        padding: 0;
    }

    .agileits_w3layouts-stats-grids {
        width: 100%;
    }

    .agileits_w3layouts-stats-grids:nth-child(3),
    .agileits_w3layouts-stats-grids:nth-child(1) {
        margin-top: 2px;
    }

    h4.title-about {
        font-size: 18px;
    }

    .inner-banner {
        padding: 26px 7px;
    }

    .team-grid1 {
        padding: 41px 19px 0;
    }

    .team-gridimg:hover .captn {
        top: 56%;
    }

    h4.main-title {
        font-size: 28px;
    }

    .de_testi {
        padding: 1em 0em;
    }

    .banner_form input[type="submit"] {
        width: 32%;
        padding: 0.3em 0;
    }

    .banner_form {
        margin: 5px 0 0;
    }

    .banner-btmg1 img {
        top: 38px;
        right: -16px;
        width: 23%;
    }

    h5.main-title {
        font-size: 22px;
    }

    .footer-grid1 h4,
    .agileinfo-subscribe-grid h4,
    .blog-text h5 {
        font-size: 19px;
    }

    .contact-form-right input[type="submit"] {
        margin-top: 20px;
        padding: 25px 8px;
        width: 100%;
    }

    .app-form input[type="text"],
    .app-form input[type="submit"] {
        width: 100%;
        float: none;
    }

    .app-mobile {
        width: 65%;
    }

    .app-links li img {
        width: 46%;
    }
	.search_form input[type='search'] {
        width: 143px;
    }

}
/* -- //Responsive code -- */

/*added css*/

.welcome-wrap{
    padding: 2% 0px;
}
.welcome-wrap h2{
    padding: 0px 0px 20px 0px;
}
.welcome-wrap p
{
    text-align: justify;
}
.dropdown-menu {
    background: #595959;
    padding: 10px 10px 15px;
}
.dropdown-menu a{
    padding: 10px 0px;
}
a.dropdown-item {
    display: inline-block;
    display: block;
    border-bottom: 1px solid rgba(255,255,255,.3);
}
a.dropdown-item{
    padding: 10px 0px;
}
a.dropdown-item:hover{
    color: #c9333c;
}


/*added css*/
.header-top{
    background: #fa5402;
    padding: 10px 0px;
    color: #fff;
}
.header-top p{
    color: #fff;
}
.top-bar {
    text-align: right;
}
.top-bar a{
    color: #fff;
    display: inline-block;
    padding: 0px 12px;
}
.top-bar a:hover{
    color: rgba(255,255,255, .8);
    }

.top-icon span{
    display: block;
    line-height: 40px;
    width: 40px;
    height: 40px;
    border: 2px solid #fa5402;
    border-radius: 100%;
    margin-right: 10px;
    text-align: center;

}
.top-icon span i{
    color: #fa5402;
    font-size: 20px;
    text-align: center;
}
.menu{
    background: #002453;
}
.icon-left {
    float: left;
}
.title {
    padding: 5px 0px;
}

.cookie_message {
    display: none;
    position: fixed;
    bottom: 0;
    z-index: 999;
    width: 100%;
    background: #fa5402;
    color: #fff;
    padding: 30px 0;
    border-top: 1px solid #fff;
}
.cookie_message p{
    color: #ffffff;
}
.cookie_message button{
    color: #ffffff;
    background:#3a3a3a;
    padding: 5px 10px;
    border: none;
}
.cookie_message a{
    color: #3a3a3a;
    background: #ffffff;
    padding: 5px 10px;
}

@media (min-width: 979px) {
  .dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

@media (max-width: 768px) {
    .header-top p {
        text-align: center;
    }
    .top-bar a {
    padding: 0px 5px;
    text-align: center;
    }


}

.testimonial_img img{
    display: inline !important;
    width: auto !important;
}
.testimonial_container{
    padding: 20px 0;
}
/*//Subscription*/
.subscription_container
{
    background: #002453;
    padding: 2.5em;
}